<style>
    #chart_Container{
        width:400px;
        height:400px;
        boarder: 1px solid #add;
    padding: 1px;
    boarder-radius:4px;
    }
</style>
<div class="row checkoutForm">
    <h2>Your Detailed Summary of Profile</h2>
    <div>
      <div id="Categories" class="col-md-3">
           <h2> User Profile Section</h2>
    </div>
    <div class="col-md-9">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                
                <th>Behaviour</th>
                <th>Dentist Comment</th>
                <th class="text-right">Score</th>
            </tr>
        </thead>
        <tbody>
         @foreach (var item in ViewBag.MyPractice)
        {
                <tr>
                    <td class="text-center">@item.Behaviour.BehaviourName</td>
                    <td class="text-left">@item.Behaviour.BehaviourDescription</td>
                    <td class="text-right">@item.Behaviour.Points.ToString("c")</td>
                </tr>
                }
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    </div>
        <div class="col-md-4">
                 @await Component.InvokeAsync("CustomChart")
  
   </div>
  </div>
</div>