<div class="form-group">
    <label for="sel1">Frequency:</label>
    <select class="selectpicker show-tick">
        @foreach (var frequency in Model){
        <option>
            @frequency.FrequencyName
        </option>
        }
   </select>
</div>