

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

        <style>
            #chart_Container{
                width:400px;
                height:400px;
                boarder: 1px solid #06bf2f;
            padding: 1px;
            boarder-radius:4px;
            }
        </style>
  
     <div id="chart_Container">
        <canvas id="doughnut_chart"> 
        </canvas>
    </div>

<script>
    var behavArray=@Html.Raw(Json.Serialize(ViewBag.OCCURANCE));
    var goodArray=@Html.Raw(Json.Serialize(ViewBag.GOOD));
        var ctx =document.getElementById("doughnut_chart").getContext('2d');
        var chart = new Chart(ctx, {
         type:'doughnut',
            data:{
                labels:behavArray,
                datasets:[{
                    label:"Your Practices Distribution",
                    data:goodArray,
                    backgroundColor:['rgba(242,166,54,0.5)', 'rgba(145,65,72,0.5)', 'rgba(74,25,92,0.5)'],
                    borderColor:['rgba(242,166,54)', 'rgba(145,65,72)', 'rgba(74,25,92)'],
                    borderWidth:1
                }
    ]
            },

        options:{
                mantainAspectRatio:false,
                scale:{ 
            yAxes:[{
            ticks:
            {
            beginAtZero:true
            }
            }]
            }
        }
        });
</script>