@model SFCDentalGame.DAL.Entities.Behaviour

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Behaviour</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BehaviourId" />
            <div class="form-group">
                <label asp-for="BehaviourName" class="control-label"></label>
                <input asp-for="BehaviourName" class="form-control" />
                <span asp-validation-for="BehaviourName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BehaviourDescription" class="control-label"></label>
                <input asp-for="BehaviourDescription" class="form-control" />
                <span asp-validation-for="BehaviourDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BehaviourType" class="control-label"></label>
                <input asp-for="BehaviourType" class="form-control" />
                <span asp-validation-for="BehaviourType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="InPractice" /> @Html.DisplayNameFor(model => model.InPractice)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="value" class="control-label"></label>
                <input asp-for="value" class="form-control" />
                <span asp-validation-for="value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
