
@using SFCDentalGame.Models
@model SFCDentalGame.Models.BehaviourListViewModel
@{
    ViewBag.Title="Behaviours";
}
<div class="container">
    <h2>Manage your Dental practices by selecting behaviours based on your routine</h2>
<div class="row">
    <div id="Categories" class="col-md-3">
           <h2> @Model.CurrentCategory</h2>
            @await Component.InvokeAsync("CategoryMenu")
    </div>
    <div class="col-md-9">
        @foreach (Behaviour b in Model.Behaviours)
        {
           @Html.Partial("BehaviourSummary", b)
        }
    </div>
</div>
</div>
